---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ColorCard from "@/components/ColorCard.tsx";
import NeutralColorRow from "@/components/NeutralColorRow.tsx";
import { accentColors, neutralColors } from "@/data";
---

<BaseLayout>
	<div class="p-8 flex flex-col gap-16">
		<section>
			<h2 class="text-3xl font-bold mb-6 tracking-tight">Accent Colors</h2>
			<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">
				{accentColors.map(color => (
					<ColorCard client:visible color={color} />
				))}
			</div>
		</section>
		<section>
			<h2 class="text-3xl font-bold mb-6 tracking-tight">Neutral Colors</h2>
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
				{neutralColors.map(color => (
					<NeutralColorRow client:visible color={color} />
				))}
			</div>
		</section>
	</div>
</BaseLayout> 