---
import BaseLayout from "@/layouts/BaseLayout.astro";
import FontSample from "@/components/FontSample.tsx";
import { fonts } from "@/data";
---

<BaseLayout>
	<div class="p-8 flex flex-col gap-16">
		<section>
			<h2 class="text-3xl font-bold mb-6 tracking-tight">
			  Fonts
			</h2>
			<div class="grid grid-cols-1 gap-8">
				{fonts.map(font => (
					<FontSample client:visible name={font.name} variable={font.var} className={font.className} />
				))}
			</div>
		</section>
		<section>
			<h2 class="text-3xl font-bold mb-6 tracking-tight">References</h2>
			<div class="bg-longan-900 rounded-lg p-6 border border-lychee-100/5">
				<p class="text-lg text-lychee-300">
					The typography is based on
					<a 
						href="https://monaspace.githubnext.com/" 
						target="_blank" 
						rel="noopener noreferrer"
						class="font-semibold text-lychee-100 hover:text-lychee-50 underline decoration-lychee-100/20 hover:decoration-lychee-100/40 transition"
					>
						Monaspace
					</a>
					, an innovative superfamily of fonts from GitHub.
				</p>
			</div>
		</section>
	</div>
</BaseLayout> 