@theme {
    --color-jet-black: #0a0a0a;
    --color-royal-yellow: #fada5e;
  
    --color-ruby-50: #fef1f7;
    --color-ruby-100: #fee5f1;
    --color-ruby-200: #ffcbe5;
    --color-ruby-300: #ffa0cf;
    --color-ruby-400: #ff65ad;
    --color-ruby-500: #fd378c; /* Default */
    --color-ruby-600: #e0115f;
    --color-ruby-700: #cf074c;
    --color-ruby-800: #ab093f;
    --color-ruby-900: #8e0d38;
    --color-ruby-950: #57001c;
    --color-ruby: var(--color-ruby-600); /* Set the DEFAULT ruby color */
  
    --color-gold-50: #ffffe7;
    --color-gold-100: #feffc1;
    --color-gold-200: #fffd86;
    --color-gold-300: #fff441;
    --color-gold-400: #ffe60d;
    --color-gold-500: #ffd700; /* Default */
    --color-gold-600: #d19e00;
    --color-gold-700: #a67102;
    --color-gold-800: #89580a;
    --color-gold-900: #74480f;
    --color-gold-950: #442604;
    --color-gold: var(--color-gold-500); /* Set the DEFAULT gold color */
  
    --color-emerald-50: #f2fbf5;
    --color-emerald-100: #e0f8e7;
    --color-emerald-200: #c2f0d1;
    --color-emerald-300: #93e2ae;
    --color-emerald-400: #50c878; /* Default */
    --color-emerald-500: #36b15f;
    --color-emerald-600: #27924c;
    --color-emerald-700: #22733d;
    --color-emerald-800: #205b34;
    --color-emerald-900: #1c4b2e;
    --color-emerald-950: #0a2916;
    --color-emerald: var(--color-emerald-400); /* Set the DEFAULT emerald color */
  
    --color-amethyst-50: #faf7fd;
    --color-amethyst-100: #f3ecfb;
    --color-amethyst-200: #e8ddf7;
    --color-amethyst-300: #d7c2f0;
    --color-amethyst-400: #be9be5;
    --color-amethyst-500: #a574d8;
    --color-amethyst-600: #9966cc; /* Default */
    --color-amethyst-700: #7943ad;
    --color-amethyst-800: #663b8e;
    --color-amethyst-900: #533172;
    --color-amethyst-950: #381952;
    --color-amethyst: var(--color-amethyst-600); /* Set the DEFAULT amethyst color */
  
    --color-onyx-50: #f6f6f5;
    --color-onyx-100: #e7e7e6;
    --color-onyx-200: #d1d1d0;
    --color-onyx-300: #b1b0af;
    --color-onyx-400: #898887;
    --color-onyx-500: #6e6d6c;
    --color-onyx-600: #5e5d5c;
    --color-onyx-700: #504f4e;
    --color-onyx-800: #464644;
    --color-onyx-900: #3d3d3c;
    --color-onyx-950: #2f2f2e; /* Default */
    --color-onyx: var(--color-onyx-950); /* Set the DEFAULT onyx color */
  
    --color-platinum-50: #f6f6f6;
    --color-platinum-100: #e5e4e2; /* Default */
    --color-platinum-200: #d6d4d2;
    --color-platinum-300: #bcbab5;
    --color-platinum-400: #a19c96;
    --color-platinum-500: #8e8781;
    --color-platinum-600: #817a75;
    --color-platinum-700: #6c6662;
    --color-platinum-800: #5a5552;
    --color-platinum-900: #4a4744;
    --color-platinum-950: #272423;
    --color-platinum: var(--color-platinum-100); /* Set the DEFAULT platinum color */
  
    --color-bruh-eye: #222222;
    --color-bruh-mouth: #fc4141;
  
    --font-argon: "MonaspaceArgonVariable";
    --font-krypton: "MonaspaceKryptonVariable";
    --font-neon: "MonaspaceNeonVariable";
    --font-radon: "MonaspaceRadonVariable";
    --font-xenon: "MonaspaceXenonVariable";
}
  
@font-face {
    font-family: "MonaspaceArgonVariable";
    font-stretch: 100% 125%;
    font-style: normal;
    font-weight: 200 800;
    src: url("/fonts/MonaspaceArgonVariable.woff2") format("woff2"),
        url("/fonts/MonaspaceArgonVariable.woff") format("woff");
}
  
@font-face {
    font-family: "MonaspaceKryptonVariable";
    font-stretch: 100% 125%;
    font-style: normal;
    font-weight: 200 800;
    src: url("/fonts/MonaspaceKryptonVariable.woff2") format("woff2"),
      url("/fonts/MonaspaceKryptonVariable.woff") format("woff");
}
  
@font-face {
    font-family: "MonaspaceNeonVariable";
    font-stretch: 100% 125%;
    font-style: normal;
    font-weight: 200 800;
    src: url("/fonts/MonaspaceNeonVariable.woff2") format("woff2"),
      url("/fonts/MonaspaceNeonVariable.woff") format("woff");
}
  
@font-face {
    font-family: "MonaspaceRadonVariable";
    font-stretch: 100% 125%;
    font-style: normal;
    font-weight: 200 800;
    src: url("/fonts/MonaspaceRadonVariable.woff2") format("woff2"),
      url("/fonts/MonaspaceRadonVariable.woff") format("woff");
}
  
@font-face {
    font-family: "MonaspaceXenonVariable";
    font-stretch: 100% 125%;
    font-style: normal;
    font-weight: 200 800;
    src: url("/fonts/MonaspaceXenonVariable.woff2") format("woff2"),
      url("/fonts/MonaspaceXenonVariable.woff") format("woff");
}