---
import { Image } from "astro:assets";
import github from "@assets/github.svg";
import linkedin from "@assets/linkedin.svg";
import x from "@assets/x.svg";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="h-full bg-black flex flex-col items-center justify-center gap-y-4">
    <div class="flex">
      <div class="flex flex-col items-center">
        <span class="text-lg text-center text-black bg-white py-1 px-2 mb-4">Bryant Le</span>
        <div class="flex justify-between w-full">
          <a href="https://github.com/bnleft" target="_blank" class="bg-white p-1">
            <Image src={github} alt="github logo" width={24} height={24}/>
          </a>
          <a href="https://www.linkedin.com/in/bnle" target="_blank" class="bg-white p-1">
            <Image src={linkedin} alt="linkedin logo" width={24} height={24}/>
          </a>
          <a href="https://x.com/bnleft" target="_blank" class="bg-white p-1">
            <Image src={x} alt="x logo" width={24} height{24}/>
          </a>
        </div>
      </div>
    </div>
    <span class="text-sm text-center text-white py-1 px-2 mb-4">&gt; under construction</span>
  </div>
</BaseLayout>