---
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";
import Sidebar from "@/components/Sidebar";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bruhs Design System</title>
		<ClientRouter />
	</head>
	<body class="bg-longan-950 text-lychee-100">
		<Sidebar client:visible current={Astro.url.pathname} />
		<main class="ml-80 min-h-screen overflow-y-auto">
			<slot />
		</main>
	</body>
</html>